body {
  margin: 0px;
  background-color: var(--primary);
  color: var(--secondary);
}
.league {
  --primary: rgb(64,64,64);
  --primaryaccent: rgb(84,84,84);
  --secondary: rgb(222,192,86);
}
button:focus {
  outline: none;
}
#frown {
  height: 240px;
  line-height: 240px;
  width: calc(100% - 50px);
  padding-left: 50px;
  font-family: sans-serif;
  font-size: 160px;
}
#explanation, #nothing {
  padding-left: 50px;
  padding-right: 50px;
  width: calc(100% - 100px);
  margin-top: 30px;
}
#explanation > p {
  font-family: sans-serif;
  font-size: 60px;
  margin: 0px;
}
#nothing > p {
  font-family: sans-serif;
  font-size: 40px;
  margin: 0px;
}
#home {
  width: calc(100% - 50px);
  padding-left: 50px;
  margin-top: 30px;
}
#home > a > button {
  font-size: 40px;
  border: 3px solid var(--secondary);
  border-radius: 5px;
  padding: 5px;
  color: var(--secondary);
  background-color: var(--primary);
}
#home > a > button:hover {
  cursor: pointer;
  background-color: var(--primaryaccent);
}
@media only screen and (max-width: 1100px) {
  #frown {
    height: 210px;
    line-height: 210px;
    font-size: 140px;
  }
  #explanation > p {  font-size: 50px;  }
  #nothing > p {  font-size: 30px;  }
  #home > a > button {    font-size: 30px;  }
}
@media only screen and (max-width: 900px) {
  #frown {
    height: 180px;
    line-height: 180px;
    font-size: 120px;
  }
  #explanation > p {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  #frown {
    height: 150px;
    line-height: 150px;
    font-size: 100px;
  }
  #explanation > p {
    font-size: 24px;
  }
  #home {
    width: calc(100% - 20px);
    padding-left: 20px;
    display: flex;
    justify-content: center;
  }
  #home > a > button {
    font-size: 20px;
  }
  #explanation, #nothing {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    text-align: center;
  }
}
