#chatCont {
  height: 100%;
  width: 100%;
  position: relative;
}
.chatHomeRow {
  background-color: var(--cell);
  border: 2px solid var(--cellborder);
  min-height: 60px;
  width: calc(100% - 4px);
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.chatHomeRow:hover {
  background-color: var(--cellhover);
  cursor: pointer;
}
.chatHomeLogo {
  min-height: 60px;
  width: 60px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.chatHomeLogo > img {
  height: 50px;
  width: 50px;
}
.chatHomeDate, .chatHomeMess {
  display: flex;
  align-items: center;
}
.chatHomeDate {
  min-height: 60px;
  flex-shrink: 0;
  font-size: 0.7em;
  font-style: italic;
  color: #888;
  width: 150px;
  justify-content: center;
  text-align: center;
}
.chatHomeMess {
  min-height: 50px;
  padding: 5px 5px 5px 20px;
  color: var(--celltext);
  width: 100%;
}
#chatMain {
  position: fixed;
  right: 0;
  width: 100%;
  display: none;
  z-index: 2;
  background-color: var(--main);
}
body.dark * .chatHomeMess.unread {
  color: hsl(200,100%,70%);
}
body:not(.dark) * .chatHomeMess.unread {
  color: hsl(200,100%,30%);
}
#chatMainLeft {
  height: 100%;
  width: 240px;
  overflow-y: auto;
  background-color: var(--accent);
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
#chatMainLeft::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#chatMainLeft::-webkit-scrollbar-track {
  background: var(--track);
}
#chatMainLeft::-webkit-scrollbar-thumb {
  background: var(--thumb);
}
#chatMainLeft::-webkit-scrollbar-thumb:hover {
  background: var(--thumbhover);
}
#chatMainRight {
  height: 100%;
  width: calc(100% - 240px);
  background-color: var(--main);
  position: absolute;
  top: 0px;
  right: 0px;
}
.chatButton {
  border: 2px solid var(--doubleaccent);
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatButton.selected {
  border-color: gold;
}
.chatButton:hover {
  background-color: var(--doubleaccent);
  cursor: pointer;
}
.chatButton > img {
  height: 40px;
  padding: 3px;
}
#chatMainTop {
  height: calc(100% - 121px);
  width: 100%;
  overflow-y: auto;
  border-bottom: 1px solid var(--doubleaccent);
  display: flex;
  flex-wrap: wrap;
}
#chatMainTop::-webkit-scrollbar, #chatBox::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#chatMainTop::-webkit-scrollbar-track, #chatBox::-webkit-scrollbar-track {
  background: var(--track);
}
#chatMainTop::-webkit-scrollbar-thumb, #chatBox::-webkit-scrollbar-thumb {
  background: var(--thumb);
}
#chatMainTop::-webkit-scrollbar-thumb:hover, #chatBox::-webkit-scrollbar-thumb:hover {
  background: var(--thumbhover);
}
#chatMainBot {
  height: 120px;
  width: 100%;
  position: relative;
}
#chatBox {
  height: 90px;
  width: calc(100% - 90px);
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: var(--accent);
  color: var(--text);
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  resize: none;
}
#chatBox:focus {
  outline: none;
}
#chatSend {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 25px 5px;
  height: 50px;
  width: 50px;
  background-color: var(--accent);
  fill: var(--bubble);
  border-radius: 0 5px 5px 0;
}
#chatSend.disabled {
  fill: var(--doubleaccent);
}
#chatSend:not(.disabled):hover {
  background-color: var(--doubleaccent);
  cursor: pointer;
}
.messageRow {
  width: 100%;
}
.messageBubble {
  padding: 10px;
  margin: 5px;
  max-width: 70%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 24px;
}
.messageRow.right > .messageBubble {
  background-color: var(--bubble);
  float: right;
  text-align: right;
  border-radius: 10px 10px 0 10px;
}
.messageRow.left > .messageBubble {
  background-color: teal;
  border-radius: 10px 10px 10px 0;
}
.messageBubble > span {
  font-size: 0.6em;
  display: inline;
  font-style: italic;
}