main {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: auto 50%;
}
main > div {
  background-color: var(--doubleaccent);
  height: auto;
  width: 500px;
  padding: 5px;
}
.page {
  height: auto;
  width: 100%;
  display: none;
}
button, input {
  border: none;
  border-radius: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 5px 0;
  color: white;
}
button {
  background-color: var(--sapphire);
}
button:not(:first-child), input:not(:first-child), a.btn:not(:first-child) {
  margin-top: 5px;
}
button:hover {
  background-color: var(--sapphirehover);
}
input {
  background-color: var(--tripleaccent);
  padding: 5px;
  width: calc(100% - 10px);
}
input:hover {
  background-color: var(--quadrupleaccent);
}
a.btn {
  width: calc(100% - 10px);
  padding: 2px 5px;
  color: var(--sapphire);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: block;
  font-size: 20px;
}
a.btn:hover {
  background-color: var(--tripleaccent);
  cursor: pointer;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
  text-align: center;
  letter-spacing: 5px;
  -moz-appearance:textfield;
}
p {
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 2px 0;
}
#setError {
  width: calc(100% - 10px);
  padding: 2px 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--pink);
  margin-top: 5px;
  display: none;
}