#tradeCont {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--cell);
}
.tradeRow {
  background-color: var(--cell);
  border: 2px solid var(--cellborder);
}
.tradeTop {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.tradeLogo {
  height: 50px;
  width: 50px;
  padding: 5px;
}
.tradeTopText {
  height: 60px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #888;
  font-weight: bold;
  font-size: 36px;
  padding: 0 5px;
}
.tradeTopText:first-of-type {
  width: 250px;
  text-align: center;
}
.tradeBot.show {
  display: block;
}
.tradeTop > svg {
  height: 36px;
  width: 36px;
  padding: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: var(--celltext);
  border-radius: 25%;
}
.tradeTop > svg:hover {
  background-color: var(--accent);
  cursor: pointer;
}
.tradeTop > svg.delete {
  right: 60px;
  height: 32px;
  width: 32px;
  padding: 4px;
}
.tradeBot {
  width: 100%;
  display: none;
  background-color: var(--accent);
}
.tradeTable {
  display: grid;
  grid-template-columns: 50% 50%;
}
.tradeCell {
  color: var(--accenttext);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
}
.tradeCell:first-of-type, .tradeCell:nth-of-type(2) {
  font-weight: bold;
}
.tradeActionCont {
  width: 100%;
  display: flex;
}
.tradeAction {
  width: 100%;
  border-radius: 0px;
  border: none;
  background-color: var(--accent);
  color: var(--accenttext);
  border: 3px solid currentColor;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
.tradeAction:hover {
  background-color: var(--doubleaccent);
  cursor: pointer;
}
.tradeAction:not(:first-of-type) {
  margin-left: 10px;
}
.tradeAction.accept, .tradeAction.confirm {
  color: hsl(119, 78%, 64%);
}
.tradeAction.decline, .tradeAction.cancel, .tradeAction.retract {
  color: hsl(356, 100%, 67%);
}
.tradeAction.counter {
  color: hsl(52, 100%, 65%)
}
.tradeAction.discuss {
  color: hsl(200,93%,65%);
}
.tradeId {
  font-family: 'Montserrat', sans-serif;
  color: var(--accenttext);
  padding: 5px;
  font-size: 16px;
  display: block;
}
#tradeMake {
  height: 60px;
  border: none;
  background-color: var(--pink);
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  border-radius: 0px;
  z-index: 5;
}
#tradeMake:hover {
  background-color: var(--pinkhover);
  cursor: pointer;
}
#tradeMake > svg {
  height: 50px;
  margin-right: 10px;
  fill: white;
}
#tradeMain {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: var(--translucent);
  display: none;
  justify-content: center;
  align-items: center;
}
#tradeMain > div {
  background-color: var(--main);
  width: 800px;
  max-height: 400px;
  overflow-y: auto;
  padding: 5px;
}
#tradeMain > div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#tradeMain > div::-webkit-scrollbar-track {
  background: var(--track);
}
#tradeMain > div::-webkit-scrollbar-thumb {
  background: var(--thumb);
}
#tradeMain > div::-webkit-scrollbar-thumb:hover {
  background: var(--thumbhover);
}
#tradeSelCont {
  width: 100%;
  height: 60px;
  display: flex;
}
#tradeSelText, #tradeSel {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 36px;
  background-color: var(--blue);
  padding: 0 5px;
}
#tradeSelText {
  height: 60px;
  line-height: 60px;
  flex-shrink: 0;
}
#tradeSel {
  border: none;
  width: 100%;
  border-radius: 0px;
}
#tradeSel:hover {
  background-color: var(--bluehover);
}
#tradeSel:focus {
  outline: none;
}
.tradeDesc {
  height: 50px;
  line-height: 50px;
  width: 50%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 36px;
  background-color: var(--sapphire);
}
#tradeClose {
  color: var(--pink);
  background-color: var(--main);
}
#tradeClose:hover {
  background-color: var(--accent);
}
#tradeOffer {
  background-color: var(--pink);
  color: white;
}
#tradeOffer:hover {
  background-color: var(--pinkhover);
  border-color: var(--pinkhover);
}
#tradeClose, #tradeOffer {
  font-family: 'Montserrat';
  font-size: 36px;
  border: 2px solid var(--pink);
  width: 50%;
  border-radius: 0px;
}
#tradeClose:hover, #tradeOffer:hover {
  cursor: pointer;
}
/* checkmark */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.container:first-of-type, .container:nth-of-type(2) {
  margin-top: 10px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: var(--orange);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media only screen and (max-height: 610px) { /* height */
  #tradeSelText, .tradeDesc {
    height: 40px;
    line-height: 40px;
  }
  #tradeSelText, #tradeSel, .tradeDesc {
    font-size: 24px;
  }
  #tradeSelCont {
    height: 40px;
  }
  #tradeMain > div {
    max-height: 360px;
  }
}
@media only screen and (max-width: 1200px) {
  .tradeTopText {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .tradeTopText:first-of-type {
    width: 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .tradeTopText {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
  .tradeLogo {
    height: 40px;
    width: 40px;
  }
  .tradeTopText:first-of-type {
    width: 200px;
  }
  .tradeTop {
    height: 50px;
  }
  .tradeTopText:first-of-type {
    width: 160px;
  }
}